.mainContainer {
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-direction: column;
}
h1{
    font-size: 3rem;
}
.inputTask {
    width: 300px;
    height: 25px;
}
.addButton {
    font-size: 1rem;
    margin: 50px;
    border-radius: 25px;
    width: 150px;
}
.deleteButton {
    background-color: rgba(255, 0, 0, 0.26);
    margin: 25px;
    padding: 10px;
}