.mainContainer {
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-direction: column;
}
h1{
    font-size: 3rem;
}
.inputTask {
    width: 300px;
    height: 25px;
}
/* .addButton {
    font-size: 1rem;
    margin: 50px;
    width: 150px;
} */
/* .deleteButton {
    background-color: rgba(255, 0, 0, 0.26);
    margin: 5px;
    padding: 10px;
} */
/* .addButton:hover {
    background-color: rgba(147, 233, 255, 0.815);
} */
ul {
    list-style-type: none;
    padding: 0;
  } 
li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.task {
    border: 1px solid black;    
}
.completed {
    text-decoration: line-through;
  } 